# Default ignored files
/shelf/
/workspace.xml
/TestData/Login_data.robot
.idea
/.idea
debug.log
Lib/__pycache__/
Lib/BNT/__pycache__/
Lib/Common/__pycache__/
Resource/__pycache__/
Resource/pageObjects/__pycache__/
/venv
pabot_results
.pabotsuitenames
selenium-screenshot-*.png